{
    "env": {
        "browser": true,
    },
    "extends": ["airbnb", "prettier"],
    "parser": "babel-eslint",
    "globals": {
        "FormData": true,
    },
    "rules": {
        "dot-location": ["error", "object"],
        "indent": ["error", 4, {
            SwitchCase: 1,
        }],
        "jsx-a11y/img-has-alt": ["off"],
        "jsx-a11y/label-has-for": ["off"],
        "no-underscore-dangle": ["error", {
            "allow": ["__t", "__n", "__d", "__c"],
        }],
        "react/forbid-prop-types": ["off"],
        "react/jsx-closing-bracket-location": ["error", {
            selfClosing: "after-props",
            nonEmpty: "tag-aligned",
        }],
        "react/jsx-filename-extension": ["off"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/no-unused-prop-types": [
            "error", {
                skipShapeProps: true
            },
        ],
    },
}
