.CostBox {
  padding: 10px;
}

.CostTitle {
  font-size: 1.5em;
  padding: 1px;
}

.Cost {
  font-size: 1.5em;
  padding: 1px;
  color: red;
  font-weight: bold;
}

.Calc {
  font-family: monospace;
  padding: 1px;
  color: gray;
}

.MapSearchBox {
    text-align: center;
 }

.MapWrapper {
    display: block;
    height: 200px;
}

.map {
    height: 100%;
    width: 100%;
}


