body {
  font-size: 1.5em;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.Cost {
  font-size: 1.5em;
}

.App-intro {
  font-size: 1.5em;
}

input {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    margin: 5px;
}.


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
